/* Margin: 
    - margin-top, margin-right, margin-bottom, margin-left (sentido horario)
    - values: lenght, percentage, auto */

div {
    /* shorthand */
    /* top, right, bottom, left */
    margin: 12px 16px 10px 4px; 
    /* top, laterais, bottom */
    margin: 12px 16px 0;
    /* cima-baixo, laterais */
    margin: 8px 16px;
    /* todos os lados */
    margin: 8px;
}
