/* 
Block:  Ocupa toda a linha, colocando elementos abaixo;
        Width e Height são respeitados;
        Padding, Magin, Border irão funcionar;

Inline: Elemento ao lado do outro;
        Width e Height não funcionam;
        Somente valores horizontais de Margin, Padding e Border;

EX: Div por padrão é block enquanto SPAN por padrão é Inline

Usando display podemos modificar isso */

div {
    height: 100px;
    border: 1px solid red;
    width: 10px;
    margin: 100px;
    display: inline;
}

span {
    height: 100px;
    border: 1px solid green;
    width: 10px;
    margin: 100px;
    display: block;
}